<%- include('../components/Template.ejs') %>

    <!-- Mushroom Details Page -->
    <div id="mushroom-details-section">
        <% if (result.canEat === 'yes') { %>
            <h1 id="edibility-status" style="color: green; text-align: center;">กินได้!</h1>
        <% } else if (result.canEat === 'no') { %>
            <h1 id="edibility-status" style="color: #FF3300; text-align: center;">กินไม่ได้!</h1>
        <% } else if (result.canEat === 'cautious') { %>
            <h1 id="edibility-status" style="color: #FFA500; text-align: center; margin-bottom: 0;">กินได้</h1>
            <h1 style="color: #FFA500; text-align: center; font-weight: bold;">แต่ควรระวัง!</h1>
        <% } %>

        <div id="mushroom-image-container" style="text-align: center;">
            <img id="mushroom-image" src="../../uploads/<%= result.file %>" alt="Mushroom Image"
                style="width: 150px; height: 150px; border: 1px solid #ccc; background-color: #f0f0f0;">
        </div>

        <div id="mushroom-info" class="p-2">
            <h2><%= result.engName %></h2>
            <div style="font-style: italic; color: gray;"><%= result.thName %></div>

            <p><strong>ชื่อวิทยาศาสตร์ :</strong><br>&nbsp<%= result.sciName %></p>
            <p><strong>แหล่งที่พบ :</strong><br>&nbsp<%= result.foundAt %></p>
            
            <% if (result.canEat === 'yes') { %>
                <p><strong>การปรุง :</strong><br>&nbsp<%= result.preparation %></p>
            <% } else if (result.canEat === 'no') { %>
                <p><strong>สาเหตุที่กินไม่ได้ :</strong><br>&nbsp<%= result.reasonToNotEat %></p>
            <% } else if (result.canEat === 'cautious') { %>
                <p><strong>การปรุง :</strong><br>&nbsp<%= result.preparation %></p>
                <p><strong>สาเหตุที่ควรระวัง :</strong><br>&nbsp<%= result.reasonToNotEat %></p>
            <% } %>
            <p><strong>ประโยชน์:</strong></p>
            
            <% 
                // แปลงสตริงให้ถูกต้องก่อนการแปลงเป็นอาร์เรย์
                const formattedBenefits = result.benefit.replace(/'/g, '"'); // เปลี่ยน ' เป็น "
                const benefitsArray = JSON.parse(formattedBenefits); // แปลงเป็นอาร์เรย์
            %>
            <ul>
                <% benefitsArray.forEach((benefit) => { %>
                    <li><%= benefit %></li>
                <% }) %>
            </ul>

        </div>

        <div id="back-button-container" style="text-align: center;">
            <button id="back-button" class="btn btn-secondary" onclick="deleteImage('<%= result.file %>')"
                style="width: 100%; padding: 10px; margin-bottom: 20px;">กลับไปหน้าหลัก</button>
        </div>
    </div>

    <script>
        // กรณีที่มีการปรับแต่งเพิ่มเติมใน JavaScript เช่น การกลับไปหน้าหลัก
        document.getElementById('back-button').addEventListener('click', function () {
            window.location.href = '/'; // ลิงค์กลับไปยังหน้าหลัก
        });


        function deleteImage(imageId) {
            fetch(`/delete-image/${imageId}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .catch(error => {
                console.error('เกิดข้อผิดพลาด:', error);
            });
        }
    </script>